APP_ENV=dev
APP_BASE_URL=http://localhost:8000
POST_LOGIN_URL=http://localhost:8000/auth/callback
JWT_KEY=test

DB_HOST=cobalt_mysql
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=cobalt

DEV_LOGIN_CID=

# This client ID and secret are for the vatsim sandbox, which is publicly accessible.
# I know this looks like a security breach, but I promise, it isn't.
VATSIM_CONNECT_CLIENT_ID=1297
VATSIM_CONNECT_CLIENT_SECRET=Nz76ZxDEJ4iGXr4TGbMzKR9ATJdJ7O66CVWPv9N9

VATSIM_API2_URL=https://api.vatsim.net/v2
VATSIM_API2_KEY=
VATSIM_API2_IDENTIFIER=
