APP_ENV=dev
APP_BASE_URL=http://localhost:8080
POST_LOGIN_URL=http://localhost:8080/login/whoami
JWT_KEY=test

DB_HOST=cobalt_mysql
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=cobalt

DEV_LOGIN_CID=

VATSIM_CONNECT_CLIENT_ID=
VATSIM_CONNECT_CLIENT_SECRET=

VATSIM_API2_URL=https://api.vatsim.net/v2
VATSIM_API2_KEY=
VATSIM_API2_IDENTIFIER=
