NODE_ENV=development
COOKIE_SECRET=change_me_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
VATUSA_DISCORD_INVITE_URL=https://discord.gg/a7Qcse7
NEXT_PUBLIC_SUPPORT_TICKET_URL=
COBALT_BASE_URL=http://localhost:8000/cobalt
